*{
    border: none;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.info{
    display: flex;
    justify-content: space-around;
}
.quadrado{
    position: absolute;
    display: flex;
    width: 100px;
    height: 100px;
}
#q1{
    background-color: #f00;
    top:20px;
    left:100px;
}
#q2{
    background-color: #00f;
    top:150px;
    left:300px;
}