*{
    border: none;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.cabecalho{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #f00; */
}
.menu{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid #f00; */
}
.principal{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
    width: 100%;
    height: 100vh;
    /* border: 1px solid #f00; */
}
.aba{
    background-color: #248;
    color: #fff;
    text-transform: uppercase;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px 10px 0px 0px;
    margin-right:1px;
}
.abaSelecionada{
    /* background-color: #248 !important; */
    background-color: #ddd !important;
}
