*{
    border: none;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
#timer{
    background-color: #333;
    color: #0f0;
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    padding: 10px 20px;
    justify-content: center;
    width: 250px;
    border-radius: 10px;
    border:5px solid #888;
}