*{
    border: none;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.dgv{
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
    flex-direction: column;
}
.dgvTitulos{
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
    flex-direction: row;
    background-color: #138;
    color: #fff;
    border-radius: 5px 5px 0px 0px;
}
.dgvTitulos div, .dgvLinha div{
    padding: 5px;
}
.dgvDados{
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
    flex-direction: column;
}
.dgvLinha{
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
    flex-direction: row;
}
.dgvLinha:nth-child(odd){
    background-color:#ddd;
}
.dgvLinha:nth-child(even){
    background-color:#eee;
}
.dgvLinha:hover{
    background-color:#088 !important;
    color: #fff !important;
    cursor:pointer;
}
.coluna{
    display: flex;
    justify-content: flex-start;
    align-self: center;
}
.c1{
    width: 50px;
}
.c2{
    width: 150px;
}
.c3{
    width: 150px;
}
.c4{
    width: 150px;
}
.c5{
    width: 100px;
    justify-content: space-around !important;
}
.dgvIcone{
    width: 20px;
}

/* Caixa View */
.janelaView{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.75);
}
.view{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    background-color: #aaa;
    padding: 10px;
    border-radius: 5px;
}
.campo{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 10px;
    width: 500px;    
}
.campo input{
    padding: 5px;
    border-radius: 5px;
    width: 100%;
}
.rodape{
    flex-direction: row !important;
    align-items: center !important;
    justify-content: center !important;
}
.btn{
    background-color: #480;
    color: #fff;
    cursor: pointer;
    padding: 10px 30px;
    border-radius: 5px;
    margin: 5px;
}
.ocultar{
    display: none !important;
}