*{
    padding: 0px;
    margin: 0px;
    border: none;
    box-sizing:border-box;
    font-size: large;
}
.carros{
    display: flex;
    width: 100%;
    border: 3px solid #000;
    padding: 5px;
    border-radius: 5px;
}
.carro{
    border: 3px #008 solid;
    background-color: #8cf;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    width: 200px;
}
.campoForm{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-bottom: 10px;    
}
.campoForm input{
    background-color: #eee;
    padding: 5px;
    border-radius: 5px;
    border:1px solid #000;
}
.campoForm button{
    background-color: #888;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
}
