*{
    border: none;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.mat{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    width: 300px;
    background-color: #eee;
    padding: 10px;
    border-radius: 5px;
    border:3px solid #888;
    font-size: xx-large;
    font-weight: bold;
}
