*{
    border: none;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.dgv{
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
    flex-direction: column;
}
.dgvTitulos{
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
    flex-direction: row;
    background-color: #138;
    color: #fff;
    border-radius: 5px 5px 0px 0px;
}
.dgvTitulos div, .dgvLinha div{
    padding: 5px;
}
.dgvDados{
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
    flex-direction: column;
}
.dgvLinha{
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
    flex-direction: row;
}
.c1{
    width: 50px;
}
.c2{
    width: 150px;
}
.c3{
    width: 150px;
}
.c4{
    width: 150px;
}
.c5{
    width: 100px;
}