.topo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--azul-principal);
    color: #fff;
    height: 30px;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.config{
    display: flex;
    justify-content: center;
    align-items: center;
}