body{
    overflow: hidden !important;
}
.c1{
    width: 100px;
}
.c2{
    width: 400px;
}
.c3{
    width: 100px;
}
.c4{
    width: 100px;
    display: flex;
    justify-content: space-around;
}
.ocultarLinhaGrid{
    display: none !important;
}
.img_foto{
    width: 75px;
    height: 100px;
    border: 1px solid #fff;
    border-radius: 5px;
}